<div class="p-4">
  <div class="d-flex justify-content-between">
    <div>
      <%= link_to root_path do %>
        <h2>Coffee Shop Delivery</h2>
      <% end %>
    </div>
    <div class="d-flex">
      <% if current_user.present? && current_user.access == "admin" %>
        <%= link_to "Support Tickets", admin_tickets_path, class: "" %>
      <% else %>
        <% if current_user.present? && current_user.access == "user" %>
          <%= link_to "My Orders", orders_path, class: "btn-default btn-blue-400" %>
          <%= link_to "Tickets", tickets_path, class: "btn-default btn-blue-400" %>
        <% end %>

        <% if @cart.present? %>
          <%= link_to cart_path(@cart.id) do %>
            <div>
              <%= image_tag "cart.png" %>
              <%= @cart.products.count %>
            </div>
          <% end %>
        <% else %>
          <p>Empty cart</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>