<%= render "shared/navbar" %>
<div class="pt-4">
  <div class="container">
    <% total_sum = 0 %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Unity Price</th>
          <th scope="col">Amount</th>
          <th scope="col">Total</th>
          <th scole="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_products.each do |cart_product| %>
          <% product_total = cart_product.amount.to_f * cart_product.product.price %>
          <% total_sum += product_total %>
          <tr>
            <th scope="row"><%= cart_product.product.title %></th>
            <td><%= cart_product.product.price %></td>
            <td><%= cart_product.amount %></td>
            <td><%= cart_product.amount.to_f * cart_product.product.price %></td>
            <td><%= link_to "Remove", cart_product_path(cart_product.id), data: { turbo_method: :delete }, class: "btn btn-danger w-100"%>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <h2>Total: <%= number_to_currency(total_sum) %></h2>
    </div>
    <div class="d-flex justify-content-end">
      <% if @cart.is_active == true %>
        <%= link_to "FINISH ORDER", orders_path(cart_id: @cart.id), data: { turbo_method: :post }, class: "" %>
      <% else %>
        <%= link_to "GO TO PAYMENT", payment_path(Order.find_by(cart_id: @cart.id).payment.id), class: "" %>
      <% end %>
    </div>
  </div>
</div>